input.error,
textarea.error {
    border-color: #b94a48 !important;
    color: #b94a48;
}

#loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    z-index: 100000;
}

#loader {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: rgba(134,134,134,0.2);
    display: none;
}

.modal {
    /*position: absolute;*/
    position: fixed;
    overflow-y: auto;
    top: 3%;
}

.form-control {
    /*width: 30% !important;*/
}

input#search-form.form-control{
    background-color: #f5f5f5;
}